body {
    margin: 20px;
    font-family: sans-serif;

}

button {
    margin: 20px 0;
    display: block;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #32A03C;
    color: #fff;
    padding: 12px 24px;
    -webkit-appearance: none;
    outline: none;
}

button:disabled {
    opacity: .7;
}

label {
    margin-left: 4px;
}